.message-list {
  height: calc(100vh - 208px); padding: 16px 8px; overflow-y: auto;
}

.padding-top-bottom {

  padding: 2em 0em;

}

.padding-left-right {
  padding: 0em 0.5em;
}

.margin-top-bottom {
  margin: 2em 0em;
}



.button.is-primary.send-button {
  font-size:25px;
  height:46px;
}

.column.is-half.is-offset-6 {

  background-color: #00d1b2;
  font-size: 1.5em;
  color: #000000;


}

.column.is-half {

  background-color: #3273dc;
  font-size: 1.5em;
  color: #000000;

}
